apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-app
  labels:
    app: {{ .Values.app.name }}
    release: {{ .Release.Name }}
spec:
  type: ClusterIP
  ports:
    - port: 8000
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    app: {{ .Values.app.name }}
    release: {{ .Release.Name }}
